#board {
    width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
}

#board h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.grid {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    font-size: 100px;
}

.grid:hover {
    background-color: azure;
}

#g0, #g1, #g2, #g3, #g4, #g5 {
    border-bottom: 10px solid black;
}

#g2, #g5, #g8, #g1, #g4, #g7 {
    border-left: 10px solid black;
}

.winner {
    color: red;
}